<% layout ('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <div class="card shadow my-5">
      <div class="card-body">
        <form
          action="/campgrounds/<%=campground._id%>?_method=PUT"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="campground[title]"
              value="<%=campground.title%>"
              autofocus
              required
            />
            <div class="valid-feedback">Looks Good</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              id="location"
              name="campground[location]"
              value="<%=campground.location%>"
              required
            />
            <div class="valid-feedback">Looks Good</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="0.00"
                aria-label="price"
                aria-describedby="price-label"
                name="campground[price]"
                value="<%=campground.price%>"
                required
              />
              <!-- price-label: span과 input 연결 -->
              <div class="valid-feedback">Looks Good</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="campground[description]"
            >
        <%=campground.description%> required</textarea
            >
            <div class="valid-feedback">Looks Good</div>
          </div>
          <div class="mb-3">
            <div class="form-file custom-file">
              <label for="image" class="form-label"> Add more Images </label>
              <input
                class="form-control"
                type="file"
                name="image"
                id="image"
                multiple
              />
            </div>
          </div>
          <div class="mb-3">
            <div>Delete Images</div>
            <% campground.images.forEach(function(img,i){%>
            <label for="image-<%=i%>"
              ><img src="<%=img.thumbnail %>" class="img img-thumbnail" alt=""
            /></label>
            <div class="form-check-inline">
              <input
                type="checkbox"
                id="image-<%=i%>"
                name="deleteImages[]"
                value="<%= img.filename %>"
              />
              <!--value는 서버에서 이미지 삭제할 때 사용-->
              <!--value가 deleteImages로 들어가서 바디를 파싱할 때 배열이 됨-->
            </div>
            <%}) %>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary">Update Campground</button>
          </div>
        </form>
        <a href="/campgrounds/<%=campground._id%>">Back To Campground</a>
      </div>
    </div>
  </div>
</div>
